/* kss.less v1.2.1 | MIT License: akey */

@import 'markdown';

// ------------------------------------------------------------------------------
//   @group mixin
// ------------------------------------------------------------------------------
.svgBackground {
  background-color: #fbfbfb;background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc4JyBoZWlnaHQ9JzE2JyB2aWV3Qm94PScwIDAgNSAxMCc+Cgk8cGF0aCBkPSdNMCwwbDUsNWwtNSw1bS0xLC02bDEsMWwtMSwxTTQsLTFsNiw2bC02LDYnIGZpbGwtb3BhY2l0eT0nMCcgc3Ryb2tlPScjZmZmZmZmJyBzdHJva2Utd2lkdGg9JzAuODgnLz4KPC9zdmc+');
}
@md-size-small: .8rem;
@md-colors-border: #eee;

// ------------------------------------------------------------------------------
//   @group override
// ------------------------------------------------------------------------------

body {
  margin: 0;
  padding: 0;
}

#kss-wrapper {
  margin: 0 auto;
  width: 980px;
}

#kss-main {
  float: right;
  margin-bottom: 40px;
  width: 740px;
}

#kss-nav {
  font-family: @md-font-headers;
  font-size: .9rem;
  line-height: 1.6;
  float: left;
  width: 200px;
  margin-bottom: 40px;

  ul {
    margin: 0 0 0 3px;
    padding: 0;
    list-style: none;
    border: @md-colors-border 1px solid;

    li + li {
      border-top: @md-colors-border 1px solid;
    }

    a {
      display: block;
      padding: 10px;
      text-decoration: none;

      &:hover {
        color: @md-colors-link-hover;
        background: white;
      }

      &.selected {
        font-weight: bold;
        position: relative;
        color: @md-colors-foreground;
        background: white;

        &&::before {
          position: absolute;
          width: 5px;
          height: 5px;
          content: '';
          background: #f00;
        }
      }
    }
  }

  .kss-nav-child {
    font-size: .8rem;
    border-right: none;
    border-bottom: none;

    a {
      padding: 5px;
      background: #f9f9f9;
    }
  }
}


.kss-header {
  margin-bottom: 40px;
  padding: 30px 0;
  border-bottom: @md-colors-border 1px solid;

  h1 {
    font-size: 1.5rem;
    margin: 0;
    line-height: 1.3;
  }
}

.kss-footer {
  clear: both;
  padding: 20px 0;
  border-top: @md-colors-border 1px solid;
  text-align: center;
  font-family: @md-font-headers;
}

.kss-overview,
.kss-mod-single,
.kss-box {

  // TODO: いろいろまとめられそうだけど一旦放置
  & > h1 {
    font-family: @md-font-headers;
    font-size: 1.5rem * .950;
    font-weight: bold;
    margin: 2rem 0 .5rem;
  }

  h2 {
    font-family: @md-font-headers;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 2rem 0 .5rem;
    padding-left: 10px;
    border-left: #111 3px solid;
  }

  h3 {
    font-family: @md-font-headers;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 2rem 0 .5rem;
  }

  h4 {
    font-family: @md-font-headers;
    font-size: 1.1rem * .950;
    font-weight: bold;
    margin: 2rem 0 .5rem;
  }

  h5 {
    font-family: @md-font-headers;
    font-size: 1.1rem * .900;
    font-weight: bold;
    margin: 2rem 0 .5rem;
  }

  h6 {
    font-family: @md-font-headers;
    font-size: 1.1rem * .850;
    font-weight: bold;
    margin: 2rem 0 .5rem;
  }

  p {
    margin: .5rem 0;
  }

  ul {
    margin: .5rem 0;
    padding-left: 2em;
    list-style: disc;
  }

  ol {
    margin: .5rem 0;
    padding-left: 2em;
    list-style: decimal;
  }

  blockquote {
    margin: .5rem 0;
  }

  code {
    font-family: @md-font-monospace;
    font-size: @md-size-small;
    margin: 0 5px;
    padding: 3px;
    text-align: right;
    color: #f05;
    border: @md-colors-border 1px solid;
    background: #f9f9f9;
  }

  pre {
    margin: .5rem 0;
    padding: 15px;
    border: @md-colors-border 1px solid;

    code {
      border: none;
      background: none;
    }
  }

  hr {
    height: 0;
    margin: 2rem 0;
    border-top: none;
    border-right: none;
    border-bottom: #ccc 1px dotted;
    border-left: none;
  }
}

.kss-mod-single {
  font-size: @md-size-small;
  padding: 10px 20px;
  background: #f9f9f9;
}

.kss-box {
  padding: 10px 20px;
  line-height: 1.8;
  border-bottom: @md-colors-border 3px solid;
  background: #fefefe;
  .svgBackground;

  & + .kss-markup {
    border-top: none;
  }
}

.kss-mod-list {
  width:100%;
}

.kss-mod-desc {
  font-family: @md-font-headers;
  font-size: @md-size-small;
  position: relative;
  padding: 10px 125px 10px 20px;
  border-bottom: @md-colors-border 1px dotted;

  p {
    margin: 0;
  }
}

.kss-mod-name {
  font-family: @md-font-monospace;
  font-size: @md-size-small;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 3px;
  padding: 5px 15px;
  text-align: right;
  color: #f05;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: @md-colors-border;
  background: #f9f9f9;
}

.kss-mod-example {
  position: relative;
  overflow-x: auto;
  padding: 20px;

  & + .kss-mod-desc {
    border-top: @md-colors-border 1px solid;
  }
}

.kss-markup {
  border-top:@md-colors-border 3px solid;
}

.kss-title { font-size: 2rem * 0.950; margin: 1em 0; }

.kss-depth-1 > h1 { font-size: 1rem * 0.950; }
.kss-depth-2 > h1 { font-size: 1rem * 0.900; }
.kss-depth-3 > h1 { font-size: 1rem * 0.850; }
.kss-depth-4 > h1 { font-size: 1rem * 0.800; }
.kss-depth-5 > h1 { font-size: 1rem * 0.750; }
.kss-depth-6 > h1 { font-size: 1rem * 0.700; }

.kss-depth-1,
.kss-depth-2,
.kss-depth-3,
.kss-depth-4,
.kss-depth-5,
.kss-depth-6 {
  margin: 40px 0;
  border: @md-colors-border 1px solid;

  & > h1 {
    margin: 0;
    padding: 10px 20px;
    background: @md-colors-foreground;
    color: white;
  }
}

// ------------------------------------------------------------------------------
//   @group prettyprint.js styling
// ------------------------------------------------------------------------------
/* Pretty printing styles. Used with prettify.js. */
.prettyprint {
  font-family: @md-font-monospace;
  font-size: @md-size-small;
  overflow-x: scroll;
  margin: 0;
  padding: 30px 15px;
  white-space: pre;
  word-wrap: normal;
  background: #444 !important;

  code {
    margin: 0;
    padding: 0;
    color: #ccc;
  }
}

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #cccccc }  /* plain text */

@media screen {
  .str { color: #99cc99 }  /* string content */
  .kwd { color: #cc99cc }  /* a keyword */
  .com { color: #999999 }  /* a comment */
  .typ { color: #6699cc }  /* a type name */
  .lit { color: #f99157 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #cccccc }
  .tag { color: #f2777a }  /* a markup tag name */
  .atn { color: #f99157 }  /* a markup attribute name */
  .atv { color: #66cccc }  /* a markup attribute value */
  .dec { color: #f99157 }  /* a declaration */
  .var { color: #f2777a }  /* a variable name */
  .fun { color: #6699cc; }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str { color: #060 }
  .kwd { color: #006; font-weight: bold }
  .com { color: #600; font-style: italic }
  .typ { color: #404; font-weight: bold }
  .lit { color: #044 }
  .pun, .opn, .clo { color: #440 }
  .tag { color: #006; font-weight: bold }
  .atn { color: #404 }
  .atv { color: #060 }
}

/* Put a border around prettyprinted code snippets. */
/*pre.prettyprint { padding: 2px; border: 1px solid #888 }*/

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background: @md-colors-border }
