<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>KSS: Living Styleguide</title>
<meta name="description" content="">
<meta name="generator" content="kss-node">
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic,700italic|Roboto+Mono:400,500' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="public/kss.css">
<link rel="stylesheet" href="public/styleguide.css">
</head>
<body>
<div id="kss-wrapper">
  <header id="header" class="kss-header">
    <h1>KSS: Living Styleguide</h1>
  </header>
  <nav id="kss-nav">
    <ul>
      <li><a href="index.html">0.0: Overview</a></li>
      {{#eachRoot}}
        <li><a href="section-{{reference}}.html">{{reference}}: {{header}}</a>
          <ul class="kss-nav-child">
          {{#eachSection reference}}
            {{#ifDepth 2}}
              <li><a href="section-{{../../reference}}.html#ref-{{reference}}">{{reference}}: {{header}}</a>
            {{/ifDepth}}
          {{/eachSection}}
          </ul>
        </li>
      {{/eachRoot}}
    </ul>
  </nav><!--/ #kss-nav -->
  <div role="main" id="kss-main">
    <article id="kss-content" class="kss-body">
      {{#if overview}}
        <div class="kss-overview">
          {{{overview}}}
        </div>
      {{else}}
        {{#eachSection rootNumber}}
          {{#unlessDepth 1}}
            <section class="kss-depth-{{ refDepth }}">
          {{/unlessDepth}}
            <h1 id="ref-{{ reference }}" class="kss-title"><span class="kss-ref">{{ reference }}{{#ifDepth 1}}.0{{/ifDepth}}</span> - {{ header }}</h1>
          {{#if markup}}
            {{#if description}}
              <div class="kss-box">{{{description}}}</div>
            {{/if}}
            <div class="kss-mod-list">
              <!-- <div class="kss-mod-desc">
                <p>Default styling</p>
              </div>
              <div class="kss-mod-example">
                {{modifierMarkup}}
              </div> -->
            {{#eachModifier}}
              <div class="kss-mod-desc">
                  {{{description}}}
                  <code class="kss-mod-name">{{name}}</code>
              </div>
              <div class="kss-mod-example">
                {{modifierMarkup}}
              </div>
            {{/eachModifier}}
            </div>
            <div class="kss-markup">
              <pre class="prettyprint lang-html">{{markup}}</pre>
            </div>
          {{else}}
            {{#if description}}
              <div class="kss-mod-single">{{{description}}}</div>
            {{/if}}
          {{/if}}
          {{#unlessDepth 1}}
            </section>
          {{/unlessDepth}}
        {{/eachSection}}
      {{/if}}
    </article>
  </div><!--/ #kss-main -->
  <footer id="footer" class="kss-footer"><small>Powered by <a href="http://github.com/hughsk/kss-node">kss-node</a>.</small></footer>
</div><!--/ #kss-wrapper -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.js"></script>
<script src="public/kss.js"></script>
<script src="public/prettify.js"></script>
<script>
  $(document).ready(function() {
    prettyPrint();
    var sideNavSelected = function() {
      var pathnames = location.pathname.split('/');
      var pathname = pathnames[pathnames.length - 1];
      $('#kss-nav').find('a').removeClass('selected');
      $('#kss-nav').find('a').each(function() {
        if ($(this).attr('href') == pathname) $(this).addClass('selected');
      });
    };
    sideNavSelected();
    $('pre').addClass('prettyprint');
  });
</script>
</body>
</html>
